.about
{
       
    
    background-color: yellow;
}
.img {
    border-radius: 50%;
    /* vertical-align: left; */
    height: 200px;
    width:200px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
}

.header-content {
    flex: 1;
    color: white;
}

.header-logo {
    flex: 0.2;
}
