.about
{
    font-family: 'Courier New';
color:black;
background-color: white;
margin-top:8px;
font-size:19px;
margin-top: 0px;
margin:5px;
border-bottom:1px solid black;
shade background:red;
}
 
.img
{background-radius

}